@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma");

p {
  font-family: Baloo Tamma;
}

body {
    background-image: url("http://wallpapercave.com/wp/3WcqMYG.jpg");
     background-size: cover;
  min-width: 650px;
}

h1 {
  font-size:8.5em;
  font-color: black;
}

h2 {
  font-size:6.5em;
  font-color: black;
}
